/Eje03_Guia10_alumnos/nbproject/private/
/Eje03_Guia10_alumnos/build/
/Test/build/
/Eje04_guia10_Cine/nbproject/private/
/Eje04_guia10_Cine/build/
/Ejer05_Guia10_Paises/nbproject/private/
/Ejer05_Guia10_Paises/build/
/Eje06_Guia10_Tienda/nbproject/private/
/Guia_10_Coleccion/nbproject/private/
/Guia_10_Coleccion/build/
/Eje06_Guia10_Tienda/build/
/Eje06_Guia10_Tienda/dist/